<div class="container" [style.padding-bottom.px]="dynamicPadding">
  <h2>Suche alle Benutzer</h2>
  <!-- <div class="ui icon input">
    <input type="number" (keyup.enter)="doIdCall()" [(ngModel)]="callId" placeholder="Search ID" name="callId">
    <i class="search icon"></i>
  </div> -->
  <button class="ui blue button" (click)="doIdCall()">Get All Benutzer</button>


  <div>
    <!--*ngif="foundTodoList" -->
    <ng-container *ngIf="foundTodoList != null">
      <div class="content">
        <!-- <div class="header">Benutzer für: {{ foundTodoList.titel }} mit ID: {{ foundTodoList.id }} </div> -->
        <div>
          <br>
          <div class="header"> Benutzerliste</div>
          <br>
          <ng-container *ngFor="let benutzerList of foundTodoList last as l">
            <div class="metadata">
              Benutzer: {{ benutzerList.name }} mit ID: {{ benutzerList.id }}
              <p *ngIf="!l">____________________________________</p>
              <br *ngIf="!l">
            </div>
          </ng-container>
          <p>__________________________________________________________</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
