

<div class="ui menu">
  <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
  <a routerLink="showTodoListe" routerLinkActive="active" class="item">Todo Liste</a>
  <a routerLink="showUserTodoListe" routerLinkActive="active" class="item">Benutzer Todo Liste</a>
  <a routerLink="createTodoListe" routerLinkActive="active" class="item">Todo Liste Erstellen</a>
  <a routerLink="allTodo" routerLinkActive="active" class="item">All Todo</a>
  <a routerLink="Todo" routerLinkActive="active" class="item">Todo</a>
  <a routerLink="showAllTodoListe" routerLinkActive="active" class="item">All Todo Liste</a>
  <a routerLink="showTodoListeByBenutzerId" routerLinkActive="active" class="item">Todo Liste By User</a>
  <a routerLink="createTodo" routerLinkActive="active" class="item">Todo Erstellen</a>
  <a routerLink="addTodoToTodoListe" routerLinkActive="active" class="item">Add Todo to Todo Liste</a>
  <a routerLink="deleteTodoFromTodoListe" routerLinkActive="active" class="item">Remove Todo from Todo Liste</a>
  <a routerLink="deleteBenutzerFromTodoListe" routerLinkActive="active" class="item">Remove User from Todo Liste</a>
  <a routerLink="addBenutzerToTodoListe" routerLinkActive="active" class="item">Add User to Todo Liste</a>
  <a routerLink="allBenutzer" routerLinkActive="active" class="item">All User</a>
  <a routerLink="deleteBenutzer" routerLinkActive="active" class="item">Delete User</a>
</div>





    <router-outlet></router-outlet>


