<div class="container" [style.padding-bottom.px]="dynamicPadding">
  <h2>Suche alle Titel</h2>
  <div class="ui icon input">
    <input type="number" (keyup.enter)="doIdCall()" [(ngModel)]="callId" placeholder="Search ID usless!" name="callId">
    <i class="search icon"></i>
  </div>
  <button class="ui blue button" (click)="doIdCall()">Get All TodoListe</button>

  <div>
    <!--*ngif="foundTodoList" -->
    <ng-container *ngIf="foundAllTodoList != null">
      <div class="content">
        <ng-container *ngFor="let allTodoList of foundAllTodoList">
          <br>
        <div class="header">Haupttitel: {{ allTodoList.titel }} mit ID: {{ allTodoList.id }} </div>
        <br>
        <div>
          <div class="header">TodoList </div>
          <ng-container *ngFor="let todoList of allTodoList.todoList last as l">
            <div class="metadata">
              Titel: {{ todoList.titel }} mit ID: {{ todoList.id }}
              <br>
              Aufgabe: {{ todoList.text }}
              <br>
              Status: {{ todoList.erledigt }}
              <br>
              <p *ngIf="!l">____________________________________</p>
               </div>
               <br>
          </ng-container>
        </div>
        <p>__________________________________________________________</p>
      </ng-container>

      </div>
    </ng-container>
  </div>
</div>
