<div class="container" [style.padding-bottom.px]="dynamicPadding">
  <h1>Home</h1>
  <p>Das ist die TodoListe App.</p>

  <a routerLink="../showTodoListe" class="ui blue button">
    Todoliste ansehen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../showUserTodoListe" class="ui blue button">
    Benutzerliste ansehen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../createTodoListe" class="ui blue button">
    Todoliste erstellen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../allTodo" class="ui blue button">
    Alle Todo ansehen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../Todo" class="ui blue button">
    Todo ansehen
    <i class="right arrow icon"></i>
  </a>

  <p></p>
  <a routerLink="../showAllTodoListe" class="ui blue button">
    All Todoliste ansehen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../showTodoListeByBenutzerId" class="ui blue button">
    Todoliste by User ansehen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../createTodo" class="ui blue button">
    Todo erstellen
    <i class="right arrow icon"></i>
  </a>
  <p></p>

  <a routerLink="../addTodoToTodoListe" class="ui blue button">
    Todo zu Todoliste hinzufügen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../deleteTodoFromTodoListe" class="ui blue button">
    Todo von Todoliste entfernen
    <i class="right arrow icon"></i>
  </a>

  <p></p>

  <a routerLink="../deleteBenutzerFromTodoListe" class="ui blue button">
    Benutzer von Todoliste entfernen
    <i class="right arrow icon"></i>
  </a>
  <p></p>

  <a routerLink="../addBenutzerToTodoListe" class="ui blue button">
    Benutzer zu Todoliste hinzufügen
    <i class="right arrow icon"></i>
  </a>
